<launch>
  <include file="$(find pimouse_ros)/launch/pimouse.launch" />
  <node pkg="pimouse_run_corridor" name="core_program" type="mt130_run.py" required="true" output="screen"/>
  <node pkg="pimouse_run_corridor" name="buttons" type="buttons.py" required="true" output="screen"/> 
  <node pkg="pimouse_run_corridor" name="leds" type="leds.py" required="true" output="screen"/> 
  
</launch>
